- name: Install apache httpd
  ansible.builtin.yum:
    name: httpd
    state: present

- name: Copy index.html with owner and permissions
  ansible.builtin.copy:
    src: index.html
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'

- name: Start and enable httpd service
  ansible.builtin.service:
    name: httpd
    state: started
    enabled: true

